<div class="row-fluid">
	<div class="container">
		<h4>Get in touch</h4>
		<p>I am always interested in hearing about new contract roles and freelance projects, so feel free to <a href="mailto:jonathanpopoola@gmail.com?Subject=Contact%20from%20portfolio">contact me</a>.</p>
		<!--<div class="span6">
			<h4>Recruiters look here</h4>
			<p>I am always interested in hearing about new contract roles and freelance projects, so I have created a <a href="#">Role Submission</a> system. The system allows you to submit a role
			and receive instant feedback on my possible interest and availability.</p> <p>Alternatively if you need to contact me for any other purposes feel free to email me @ <a href="mailto:jonathanpopoola@gmail.com?Subject=Contact%20from%20portfolio">
jonathanpopoola@gmail.com</a></p>
		</div>
		
		<div class="span3">
			<h4>Latest ramblings</h4>
			<p>"Great article from smashing magazine as usual on priciniples of UX design"</p>
			<a href="#">More from @jonathanpopoola</a>
		</div>
		<div class="span3">
			<h4>Lets network</h4>
			<p>I'm always interested in connecting with like minded people in the industry, feel free to join my professional networks</p>
			<ul>
				<li><a href="#">LinkedIn</a></li>
				<li><a href="#">Xing</a></li>
			</ul>
		</div>-->
		
	</div>
	
</div>