<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<button id="navverBut"  type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="#">JPopoola</a>
					<div class="nav-collapse collapse">
						
						<ul class="nav pull-right">
							<li id="welcome">
								<a href="#">Welcome</a>
							</li>
							<li id="work">
								<a href="#howWork">How I work</a>
							</li>
							<!--<li id="makingof">
								<a href="#makingof">The making of</a>
							</li>-->
							<li id="portfolio">
								<a href="#portfolio">Projects</a>
							</li>
							<li id="contact">
								<a href="#contact">Contact/ hire me</a>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>