<div class="row-fluid featuredProject contact">
	<div class="container opaqueBack">
		<div class="span7">
			<h1>Contact me</h1>

			<p>
				I'm happy to answer any questions you have or provide you with an estimate for any work you may need completing. Just send me a message in the form below with any questions you may have.
			</p>
			<form id="contactform">
			<label class="checkbox inline lm">Request portfolio access
				<input type="checkbox" placeholder="" >
			</label>

			<label class="checkbox inline">To discuss new roles
				<input type="checkbox" placeholder="" >
			</label>
			<label class="checkbox inline">General
				<input type="checkbox" placeholder="" >
			</label>
			<div class="inputController">
				<label>Name</label>
				<input name="name" type="text" placeholder="E.g. Jonathan" >
			</div>
			<div class="inputController">
				<label>Company</label>
				<input type="text" placeholder="E.g. Amazing Great Company Ltd" >
			</div>
			<div class="inputController">
				<label>Your Position</label>
				<input type="text" placeholder="E.g. Director of User Experience" >
			</div>
			<div class="inputController">
				<label>Email</label>
				<input type="email" name="email" placeholder="E.g. jonathanpopoola@gmail.com" >
			</div>
			<div class="inputController">
				<label>Telephone number</label>
				<input type="tel" placeholder="E.g. 07809 838 121" >
			</div>
			<div class="inputController">
				<label>Reason for portfolio access</label>
				<textarea rows="5"></textarea>
			</div>
			<a class="jpButton" id="triggerContact" href="#">Submit</a>
			</form>
		</div>
		<div class="span5 contactLeft">
			<h1>Contact details</h1>
		
			<p><b>Email</b><br>info@jonathanpopoola.me</p>
				<p><b>Phone</b><br> 07809 838 121</p>
				<p>	<b>Social</b><br>
					<a href="#">Skype</a> |  <a href="#">LinkedIn </a> | <a href="#">Twitter</a>
				</p>
		</div>
	</div>
</div>

  