<div class="row-fluid intro">
	<p class="homeText">
		<b>Hello</b> and <b>Welcome</b> to my
		<br>
		humble piece of the internet
	</p>
	<p class="jpStanText">
		I'm Jonathan Popoola
	</p>
	<p class="jpStanText">
		A User Experience Architect
	</p>
	<p class="jpStanTextSmaller">
		I design and build great user experiences
	</p>

	<img class="homeImage" src="img/devices.png" alt="responsive devices" />
	<!--<p class="forHireText">
	Currently seeking new opportunties
	</p>
	<p class="jpp">
	So you are interested in finding out more <a href="#">about me</a> ? Or maybe you are interested in <a href="#">how I work</a>, or merely looking for an up to date version of my <a href="#">C.V.</a> ?
	</p>-->
</div>
<div class="row-fluid about">
	<div class="container">
		<div class="span8">
			<h3>About</h3>
			<p class="jpp">
				I have over <b>seven years</b> experience in the <b>development</b> world both as a Front End Developer and a <b>User Experience</b> Architect.
			</p>
			<p class="jpp">
				My development background gives me a significant edge within User Experience roles. I am not only able to provide <b>great user experiences</b>, but experiences that utilise and consider the constraints of clientside capabilites.
				
			</p>
			<p class="jpp">
				I have had extensive experience in using both <b>lean</b> and <b>agile</b> methodologies. I take a flexible appraoch to each indivudual project which allows me to effectivley apply either methodology accordingly. My vast experience on various projects has enabled me to develop and refine a clear <b>user centric design</b> process. Furthermore my lateral thought processes ensure that I remain creative and adaptable in my approach 
							
			</p>
			<!--<p class="jpp">
				To find out more about my career and experience view my resume here:
				<a class="jpButton" href="#">Download C.V. <i class="icon-file icon-white"></i></a>
			</p>-->
			<p class="jpp">
				<a class="social" href="http://uk.linkedin.com/in/jonathanpopoola/" target="_blank"><img src="img/fc-webicon-linkedin-m.png" alt="linked in profile"/></a>
				<a class="social" href="http://www.xing.com/profile/Jonathan_Popoola" target="_blank"><img src="img/fc-webicon-xing-m.png" alt="xing profile" /></a>
				<a class="social" href="http://myskype.info/jonathan-popoola" target="_blank"><img src="img/fc-webicon-skype-m.png" alt="skype profile" /></a>
				<a class="social" href="https://twitter.com/JonathanPopoola" target="_blank"><img src="img/fc-webicon-twitter-m.png" alt="twitter profile" /></a>
				
				<a class="jpButton pull-right hidden-phone " href="assets/jonathan-popoola-c.v.docx" target="_blank">Download C.V. <i class="icon-file icon-white"></i></a>
			
				

			</p>
		</div>
		<div class="span4">

			<h3>Skills overview</h3>
			
				<ul>
					<li>
						<p>Personas</p>
						<div class="progress">
							<div class="bar" style="width: 75%;"></div>
						</div>
					</li>
					<li>
						<p>Task models</p>
						<div class="progress">
							<div class="bar" style="width: 85%;"></div>
						</div>
					</li>
					<li>
						<p>User journeys</p>
						<div class="progress">
							<div class="bar" style="width: 88%;"></div>
						</div>
					</li>
					<li>
						<p>Wireframing</p>
						<div class="progress">
							<div class="bar" style="width: 88%;"></div>
						</div>
					</li>
					<li>
						<p>Prototyping</p>
						<div class="progress">
							<div class="bar" style="width: 94%;"></div>
						</div>
					</li>
					<li>
						<p>Frontend Development</p>
						<div class="progress">
							<div class="bar" style="width: 80%;"></div>
						</div>
					</li>
				</ul>
			
		</div>
	</div>
</div>
