<div class="row-fluid portfolioHeader">
	<div class="container">
		<p class="homeText forphone">
			<b>Welcome</b> to my project <b>showcase</b>
		</p>
		<i class="hidden-phone">Before we begin here are a number of clients I have worked for.</i>

		<ul class="unstyled inline topMargin">
			<li>
				<div class="prevClient">
					<img src="img/clearstream.png" />
				</div>
			</li>
			<li>
				<div class="prevClient">
					<img src="img/rbs-logo.jpg" />
				</div>
			</li>
			<li>
				<div class="prevClient">
					<img src="img/trinity-logo.png" />
				</div>
			</li>
		</ul>
		<ul class="unstyled inline">
			<li>
				<div class="prevClient">
					<img src="img/nelson_thornes_logo.jpg" />
				</div>
			</li>
			<li>
				<div class="prevClient">
					<img src="img/AscendantLogo.jpg" />
				</div>
			</li>
			<li>
				<div class="prevClient">
					<img src="img/natwest.jpg" />
				</div>
			</li>
		</ul>

	</div>
</div>
<div class="row-fluid projectsHolder">
	<div class="container">

		<div class="span12 center">

			<div class="project">
				<div class="top">
					<h4>Client: <b>Natwest</b></h4>
					<p class="projectDescription">
						Beta <b>design</b> for Natwest online banking solution. <b>Responsive</b> design to support smart phone, tablet, desktop and smart tv.
					</p>
					<span class="project-image natwest"></span>
					<ul class="tags hidden-phone">
						<li>
							<a href="#">Personas</a>
						</li>
						<li>
							<a href="#">Task models</a>
						</li>
						<li>
							<a href="#">User journeys</a>
						</li>
						<li>
							<a href="#">Wireframes</a>
						</li>
						<li>
							<a href="#">Prototypes</a>
						</li>
					</ul>
				</div>
				<div class="bottom">
					<a data-project="natwest" href="#">View project</a>
				</div>
			</div>

			<div class="project">
				<div class="top">
					<h4>Client: <b>Trinity Mirror</b></h4>
					<p class="projectDescription">
						<b>Responsive</b> design for corporate <b>website</b>, showcasing companies brands. Design for smart phone, tablet, desktop and smart tv.
					</p>
					<span class="project-image trinity"></span>
					<ul class="tags hidden-phone">
						<li>
							<a href="#">Wireframes</a>
						</li>
						<li>
							<a href="#">Responsive</a>
						</li>
						<li>
							<a href="#">jQuery</a>
						</li>
						<li>
							<a href="#">CSS3</a>
						</li>
						<li>
							<a href="#">HTML5</a>
						</li>
					</ul>
				</div>
				<div class="bottom">
					<a href="#" data-project="trinitymirror">View project</a>
				</div>
			</div>

			<div id="cheese" class="project" >
				<div class="top">
					<h4>Client: <b>Clearstream Banking</b></h4>
					<p class="projectDescription">
						<b>Responsive</b> design for corporate <b>website</b>, showcasing companies brands. Supported devices for smart phone, tablet, desktop.
					</p>
					<span class="project-image clearstream"></span>
					<ul class="tags hidden-phone">
						<li>
							<a href="#">Personas</a>
						</li>
						<li>
							<a href="#">Task models</a>
						</li>
						<li>
							<a href="#">User journeys</a>
						</li>
						<li>
							<a href="#">Wireframes</a>
						</li>
						<li>
							<a href="#">Prototypes</a>
						</li>
						<li>
							<a href="#">Usabilty testing</a>
						</li>
					</ul>
				</div>
				<div class="bottom">
					<a href="#" data-project="clearstream">View project</a>
				</div>
			</div>

			<div class="project">
				<div class="top">
					<h4>Client: <b>Personal Portfolio</b></h4>
					<p class="projectDescription">
						<b>Responsive</b> design for portfolio, showcasing previous work. Device support included for smart phone, tablet, desktop.
					</p>
					<span class="project-image portImg"></span>
					<ul class="tags hidden-phone">
						<li>
							<a href="#">Personas</a>
						</li>
						<li>
							<a href="#">Task models</a>
						</li>
						<li>
							<a href="#">User journeys</a>
						</li>
						<li>
							<a href="#">Wireframes</a>
						</li>
						<li>
							<a href="#">Prototypes</a>
						</li>
						<li>
							<a href="#">Build</a>
						</li>
					</ul>
				</div>
				<div class="bottom">
					<a href="#" role="button" data-project="personalportfolio">View project</a>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="row-fluid moreInfo hidden-phone">
	<div class="container">
		<h3>Additional work</h3>
		<p>
			Due to the sensative nature of some projects I have worked on I have been unable to display them in my Portfolio, to arrange to view additional project work please <a href="#contact-me">contact me</a>.
		</p>
	</div>
</div>

<div id="myModal" class="modal hide fade">

	<div class="modal-body">
		<!-- login in start -->
		<div id="log">
			<div class="fiftyPercent">
				<h3>Please Login</h3>
				<label  for="username">Email</label>

				<input type="text" id="username" name="username" placeholder="" >

				<!-- Password-->
				<label for="password">Password</label>

				<input type="password" id="password" name="password" placeholder="" >

				<a id="logmein" class="jpButton pushbut" href="#">Login</a>
				<a class="passwordclass" id="passpass" href="#">Forgotten Password ?</a></li>
			</div>
			<div class="fiftyPercent">
				<h3>Request access</h3>
				<p>
					Alot of the projects I work on are of a sensative nature, therefore to protect client confidentiality you must first request access to view my portfolio.
				</p>
				<p>
					Please complete the simple form and if granted access you will receive a password and username within 12 hours.
				</p>
				<a class="jpButtonTwo" id="requester" href="#">Request access</a>
			</div>
			<!-- login in end-->
		</div>
		<div id="notregistered">
			<h3>Login in details not recognised</h3>
			<p>
				Unfortunely your login in details were not recoginised, if you have not already requested access you can <a href="#">register here</a>.
			</p>
			<p>
				If you have already being granted access and have forgotten your login in details <a href="#">Click here</a>.
			</p>
			<a id="closeLogin" class="jpButtonTwo" href="#">Close</a>
		</div>
		<div id="forgotPassword">
			<h3>Request Login Details</h3>
			<p>
				Forgotten your user name or password ? please use the form to request your login in details.
			</p>
			<label  >Your name</label>

			<input type="text" placeholder="" >

			<label >Email address</label>

			<input type="text" placeholder="" >
			<a class="jpButtonTwo" id="resetdetails" href="#">Submit</a>
		</div>
		<div id="requestsent">
			<h3>Thank you</h3>
			<p>Your login in details have been sent to <b>john.smith@someemail.com</b></p>
			<a id="closeLoginn" class="jpButtonTwo" href="#">Close</a>
		</div>
	</div>

	<div class="modal-footer">

	</div>
</div>
  